<ion-content [scrollY]="false">
  <div class="main-container w-100 d-flex flex-column justify-content-evenly align-items-center flex-grow-1 px-4">
    <div class="text-center">
      <h3 class="title primary-font">Login</h3>
      <div class="underline"></div>
    </div>
 
    <!-- Bind the form to loginForm and submit with (ngSubmit) -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="d-flex flex-column form-container">
 
      <div class="mb-3">
        <label for="username" class="form-label secondary-font">Username</label>
        <input id="username" aria-label="User name" type="text" class="form-control custom-input" formControlName="username" placeholder="Enter your username">
     
 
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error">
          Username is required.
        </div>
      </div>
 
      <div class="mb-3">
        <label for="password" class="form-label secondary-font">Password</label>
        <input id="password" aria-label="Password" type="password" class="form-control custom-input"
          formControlName="password" placeholder="Enter your password">
       
 
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
          Password is required (minimum 6 characters).
        </div>
      </div>
 
      <!-- Login Button -->
      <div class="d-flex justify-content-center mt-4">
        <ion-button type="submit" expand="block" class="text-center secondary-font" [disabled]="loginForm.invalid">
          Login
        </ion-button>
      </div>
    </form>
 
    <!-- Register Link -->
    <div class="wrap secondary-font">
      <!-- <p class="text-center mt-1 register-link"> -->
      New to Property App? <a (click)="navigate()" style="color: #7FDBFF;font-weight: bold;">Register Now</a>
      <!-- </p> -->
    </div>
  </div>
</ion-content>