<ion-content [scrollY]="true">
  <div class="main-container w-100 d-flex flex-column justify-content-evenly align-items-center flex-grow-1 px-4">
    <div class="text-center">
      <h3 class="title primary-font">Registration</h3>
      <div class="underline"></div>
    </div>
 
    <!-- Bind the form to the 'registrationForm' -->
    <form [formGroup]="registrationForm" (ngSubmit)="onRegister()" class="d-flex flex-column form-container">
 
      <div class="mb-3">
        <label for="name" class="form-label secondary-font">Name</label>
        <!-- Use formControlName to bind the input to the 'name' form control -->
        <input id="name" aria-label="Name" type="text" class="form-control custom-input" formControlName="name" placeholder="Enter your name">
       
        <div *ngIf="registrationForm.get('name')?.invalid && registrationForm.get('name')?.touched" class="error">
          Name is required and must be at least 3 characters.
        </div>
      </div>
 
      <div class="mb-3">
        <label for="password" class="form-label secondary-font">Password</label>
        <input id="password" aria-label="Password" type="password" class="form-control custom-input" formControlName="password" placeholder="Enter your password">
       
        <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched"
          class="error">
          Password is required (minimum 6 characters).
        </div>
      </div>
 
      <div class="mb-3">
        <label for="confirmPassword" class="form-label secondary-font">Confirm Password</label>
        <input aria-label="Confirm Password" type="password" class="form-control custom-input" formControlName="confirmPassword" placeholder="Confirm password">
       
        <div *ngIf="registrationForm.hasError('mismatch') && registrationForm.get('confirmPassword')?.touched"
          class="error">
          Passwords must match.
        </div>
      </div>
 
 
      <!-- <div class="mb-3">
        <label for="referral" class="form-label secondary-font">Referral Link (Optional)</label>
        <input id="referral" aria-label="Referral Link" type="text" class="form-control custom-input" formControlName="referral">
       
        <div *ngIf="registrationForm.get('referral')?.invalid && registrationForm.get('referral')?.touched"
          class="error">
          Invalid referral link.
        </div>
      </div> -->
 
 
      <div class="d-flex align-items-center justify-content-between secondary-font mt-2">
        <label for="role" class="form-label">Role</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="role" id="userRole" value="USER">
          <label class="form-check-label" for="userRole">User</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="role" id="agentRole" value="AGENT">
          <label class="form-check-label" for="agentRole">Agent</label>
        </div>
      </div>

      <div class="mb-3" *ngIf="registrationForm.get('role')?.value === 'USER'">
        <label for="referral" class="form-label secondary-font">Referral Link (Optional)</label>
        <input id="referral" aria-label="Referral Link" type="text" class="form-control custom-input" formControlName="referral">
        <div *ngIf="registrationForm.get('referral')?.invalid && registrationForm.get('referral')?.touched" class="error">
          Invalid referral link.
        </div>
      </div>
 
      <div class="d-flex justify-content-center mt-3">
        <!-- Submit button triggers the (ngSubmit) event -->
        <ion-button type="submit" expand="block" class="text-center secondary-font" [disabled]="registrationForm.invalid">
          Register
        </ion-button>
      </div>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </form>
    <div class="wrap secondary-font">
      <!-- <p class="text-center mt-3"> -->
      Already registered? <a (click)="navigate()" style="color: #7FDBFF;font-weight: bold;">Sign In</a>
      <!-- </p> -->
    </div>
  </div>
</ion-content>