<div class="main-container d-flex flex-column justify-content-evenly align-items-center flex-grow-1 px-1">
 
  <div class="add-property-wrapper w-100 p-4">
    <button class="add-property-btn primary-font" (click)="addNew()">Add New</button>
  </div>
  <div class="search-filter w-100 d-flex justify-content-between align-items-center p-3">
    <div class="search-container">
      <input type="text" class="search-input primary-font" placeholder="search" />
      <img src="assets/icon/Search.svg" width="20px" class="search-icon">
    </div>
 
    <img src="assets/icon/Filter.svg">
  </div>

  <table class="data-table w-100">
    <thead class="table-header">
      <tr class="text-center custom-font">
        <th>Sl No</th>
        <th>Profile Pic</th>
        <th>Username</th>
        <th>Mobile Number</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-data" *ngFor="let user of userList; let i = index">
        <td>{{ i + 1 }}</td>
        <td><img [src]="user.profilePic" alt="Profile Pic" width="30" /></td>
        <td>
          <div class="text-break text-wrap w-100">
            {{ user.username }}
          </div>
        </td>
        <td>{{ user.mobilenumber }}</td>
        <td class="d-flex justify-content-center gap-2">
          <button class="btn p-1 edit-btn" (click)="editUser(user)">
            <img src="assets/icon/Edit.svg" alt="Edit" class="edit-icon" />
          </button>
          <button class="btn p-1 delete-btn" (click)="deleteUser(user)">
            <img
              src="assets/icon/Delete.svg"
              alt="Delete"
              class="delete-icon"
            />
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
